.box22 {
    margin-top: 6px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    border: none;
    /* border-radius: 20px; */
    /* margin-bottom: 30px; */
    /* margin-top: 30px; */
}

.nametagBox{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 115px;
    margin-right: 115px;
    height: 450px;
    border: none;
    background-color: #4D2F28;
}

.addedbuttonWatch {

    background-color: #3A2622;
    border-color: #3A2622;
    position:absolute;
    font-size: 12px;
    margin-left: 6px;
    bottom: 0;
    margin-bottom: 20px;


}
.addedbuttonWatch:hover {
    background-color: #4D2F28;
    border-color: #4D2F28;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.addedbuttonWatch:focus {
    background-color: #4D2F28;
    border-color: #4D2F28;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imageSize {
    padding: 20px;
    vertical-align: top;
    padding-top: 20px;
    height: 350px;
}

.desBox {
    padding-left: 40%;
}

.desText {
    color: #EEEEEE;
    font-size: 20px;
    padding-right: 20px;
    vertical-align: top;
    padding-top: 15px;
}

.nameActor {
    padding-left: 20px;
    padding-top: 20px;
    font-size: 30px;
    font: SF Pro Text;
    color: #FFFFFF;
}

.typeActor {
    padding-left: 20px;
    font-size: 20px;
    opacity: 70%;
    font: SF Pro Text;
    color: #FFFFFF;
}
