/*@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap);*/



/*a, body, text, p{
	font-family: 'Roboto', sans-serif;
	color: white;
}*//*
/body
{
	font: Roboto;
	color: white;	
} 

.title{

  font: Roboto;
  color: white;

}
.genre{

  font: Roboto;
  color: white;

}
*/
/*a{
	font: Roboto;
	color: white;
}
p{
	font: Roboto;
	color: white;
}
.title{
	font: Roboto;
	color: white;
}
.genre{

  font: Roboto;
  color: white;

}*/
.poster{
	width: 70%;
	height: 90%;
	border: solid;
	border-width: 10px;
	border-color: white;

}

.comment-container-img{
width: 20px;
}
.comment-container-input{
	width: 100%
}
.trailer{
  /*font-weight: bolder;*/
  /*position: absolute;*/
  padding-top: 20px;

}

/* .row{
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
} */

.comment-form{
	float: right;
	color: white;
	background-color: transparent;
	border-top: transparent;
	border-left: transparent;
	border-right: transparent;
	border-radius: 0px;
}

.placeholder-image{
float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}
.moviestill{
	align-content: center;
	width: 100%;
	height: 500px;
	padding-left: 70px;
	padding-right: 70px;
	padding-top: 50px;
	/*background-image: url('./beetlejuice.jpg');*/
	background-blend-mode: screen;
}
.film-detail-container{

	font-family: 'Roboto', sans-serif;
	color: white;
	width: 100%;
	height: 100%;
}
.film-detail-button{
	color: white;
	padding-left: 30px;
}
.plot{
	/*position: absolute;*/
	padding-top: 20px;
	
  	font-weight: 1;




}

.review-container{

	/*max-width: 50%;*/
	/*height: 200px;*/
	flex:1;

	
	  border: 0.2px solid #dedede;
  /*background-color: #f1f1f1;
  border-radius: 5px;*/
  padding: 10px;
  margin: 20px 0;

}

.all-reviews-container{
	width: 100%;
	  display: flex;
	  flex-direction: row;
	  flex-basis: calc(50% - 10px);
}

.review-text{

	display: flex;
		flex-direction: row;
	flex: 1;
	font-size: 14px;
	padding-top: 10px;
	padding-left: 80px;
	width: 80%;
}
.review-username{
	font-size: 20px;
}

.film-detail-card{
	display: flex;
	flex-direction: row;
	flex: 1;

}
.film-detail-images{

	display: flex;
	flex-direction: row;
	flex: 1;


}
.film-detail-images-img{
	width: 100%;
	height: 100%;

    margin-left: 10px;
    margin-right: 10px;

}
.name-tag-button  {
background-color: #4D2F28;
border-color: #4D2F28;
}
.name-tag-button:hover {
	background-color: #4D2F28;
border-color: #4D2F28;
}
.name-tag-button:focus {
	background-color: #4D2F28;
border-color: #4D2F28;
}

.name-tag-button-container{
	padding-bottom: 10px;
}
.person-type-text{
	position: absolute;
	bottom: 15px;
}

.review-title{
	border-top: 1px solid !important;
	padding-top: 30px;
}
.review-user{
	padding-top: 20px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
 
    background-color: transparent;

    border-color: transparent transparent;
    border-bottom: 2px solid !important;

}
.nav-tabs .nav-link {

    border:transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
   
}


