.NAVBAR {
  background-color:#251717;
  opacity: 0.9;
}
.nav-item:hover{
  color:yellow;
}
*{padding:0;margin:0;}
  /* overflow-x: hidden;} */


.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#8B4513;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  box-shadow: 2px 2px 3px #101010;
	border: none;
}

.my-float{
	margin-top:22px;
}

/* .carousel-caption {
  top: 250px;
  bottom: auto;
} */
.carousel-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* .btn {
  border-radius: 20px;
  margin-top: 0px;
  background-color: #707070;
  height: 35px;
  width: 90px;
  color: white;
  font-size: small;
 
} */

.BTN2 {
  border: 2px solid white;
  border-color: white !important;
  border-radius: 20px !important;
  background-color:transparent !important;
  height: 35px;
  width: 150px;

}
.lab {
  color: white !important;
}

.BTN2:hover {
  color: white !important;
  background-color: blanchedalmond !important;
  opacity: 0.6;
}
.topr {
  align-content: center;
  overflow-x: hidden;
  /* padding-left: 5px;
  padding-right: 5px; */
}

.row {
  align-content: center;
  /* margin-left: 10px; */
}
/* .md-center {
  margin-left: 10px ;
} */
/* .container-75 {
  margin-left: 170px;
  padding-left: 155px;
  padding-right: 155px; */
  /*
   width: 580px ; */
/* } */
/* .px-5 {
  padding-left: 15px;
  padding-right: 15px;
} */

/* .card {
  width: 250px;
} */

.imageFit {
  width: 1000px;
  height: 550px;
  object-fit: fill;
}